body{
    background-color: #ddd;
    color: #111;
    font-family: Arial, sans-serif;
}


header{
    position: sticky; 
    position: -webkit-sticky; /* Safari */ 
    top: 0;

    background-color: #ddd;
}

main{
    margin: 0 5%;
    padding: 1px 1.5%;

    background-color: #eee;
}


/* Partie recherche avec logo, barre de recherche, bouton connexion */
.recherche{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* LOGO */
.recherche img{
    max-height: 65px;
    object-fit: cover;
    mix-blend-mode: darken;
}

/* Barre de recherche */
.recherche input[type=text]{
    width: 65%;
    padding: 7px;
    border-radius: 5px;

    font-size: 1.1rem;
}

/* Bouton de connexion */
.connexion{
    padding: 7px;
    border-radius: 5px;
    
    background-color: limegreen;
    color: #fff;
}

/* Menu en-dessous de la partie recherche, avec les boutons Accueil, Formations etc. */
.menu{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    
    background-color: #45577A;
    color: #fff;
}

/* FIN DU HEADER */