<div class="card_comment">
  <h4>
    <%= name %>
  </h4>
  <div class="card_comment_infos">
    <p>
      <%= grade %>
    </p>
    <span>
      <%= school %>
    </span>
  </div>
  <p>"<%= comment %> "</p>
</div>