<footer>
    <!-- un footer avec toute les infos complémentaires tels que les contacts et les réseaux sociaux-->
    <div class="footer_info">
        <ul>
            <li> <a href="">plan du site</a></li>
            <li> <a href="">Qui somme nous ?</a></li>
            <li> <a href="">Mentions légales</a></li>
            <li> <a href="">Politique de confidentialité</a></li>
            <li> <a href="">Gestion des cookies</a></li>
        </ul>
    </div>

    <!-- A rajouter les réseaux utiliser -->
    <div class="reseaux">
        <i></i>
        <i></i>
        <i></i>
    </div>
    <p>Copyright 2022 © DWWM 2</p>
</footer>