<header class="navbar">
  <section class="recherche">
      <img src="../images/logo.jpg">
      <input type="text" placeholder="Rechercher une formation, un cours, un témoignage...">
      <a href="#" class="connexion">Connexion</a>
  </section>

  <nav class="menu">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Formations</a></li>
        <li><a href="#">Écoles</a></li>
        <li><a href="#">Domaines</a></li>
        <li><a href="#">Ressources</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
  </nav>
</header>