<!DOCTYPE html>
<html lang="fr">
  <%# Head tag + content %> 
  <%- include("../organisms/head.partial.ejs", {pageTitle: "Accueil"}) %>

  <body>
    <%- include("../organisms/navbar.partial.ejs") %>

    <main>
      <section class="presentation">
        <!-- Cette page fera office de vitrine pour présenter les différentes ecoles et formations de manière sommaire-->
      </section>
    </main>

    <%- include("../organisms/footer.partial.ejs") %>
  </body>
</html>
