<!DOCTYPE html>
<html lang="fr">
   <%# Head tag + content %> 
   <%- include("../organisms/head.partial.ejs", {pageTitle: "Recherche par écoles"}) %>

  <body>
    <%- include("../organisms/navbar.partial.ejs") %>

    <main>
      <section class="school">
        <!--Présentations des différentes écoles qui possèdes ou non les formations recherchés-->
      </section>
    </main>

    <%- include("../organisms/footer.partial.ejs") %>
  </body>
</html>
