<!DOCTYPE html>
<html lang="fr">
   <%# Head tag + content %> 
   <%- include("../organisms/head.partial.ejs", {pageTitle: "Recherche par formations"}) %>

  <body>
    <%- include("../organisms/navbar.partial.ejs") %>

    <main>
      <section class="formations">
        <!--Présentations des différentes formations si elles sont: diplomantes, certifié et/ou professionnelles-->
      </section>
    </main>

    <%- include("../organisms/footer.partial.ejs") %>
  </body>
</html>
