<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Acceuil</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>

    <main>
      <section class="formations">
        <!--Présentations des différentes formations si elles sont: diplomantes, certifié et/ou professionnelles-->
      </section>
    </main>

    <%- include("../components/footer.ejs") %>
  </body>
</html>
