<!DOCTYPE html>
<html lang="fr">
  <%# Head tag + content %> 
  <%- include("../organisms/head.partial.ejs", {pageTitle: "Ressources"}) %>

  <body>
    <%- include("../organisms/navbar.partial.ejs") %>

    <main>
      <section class="ressources">
        <!-- Présentations des ressources-->
      </section>
    </main>

    <%- include("../organisms/footer.partial.ejs") %>
  </body>
</html>
