$card-width : 544;
$card-height : 304;
$card-blur : 10px;

@function PxToRem($px) {
  @return $px / 16
}

.card{
  height: PxToRem($card-height)+rem;
  width: PxToRem($card-height)+rem;
  background-size: cover;
  backdrop-filter: blur($card-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &>.infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid;
  }
}