@import "../utils/utils.scss";
$card-width : 328;
$card-height: 200;

$card-blur : 10px;

.school_card {
  height: PxToRem($card-height);
  width: PxToRem($card-width);
  background-size: cover;
  backdrop-filter: blur($card-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;


  &>.school_infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    line-height: 0;
  }
}

.school_infos>p {
  font-size: small;
  font-weight: 200;
}

.school_infos>h4 {
  font-size: xx-large;
}