<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/scss/cards/cardEcole.css">
  <title>Document</title>
</head>
<body>
<%- include(`../../public/components/cardEcole`, { name: "Julia Nicolas", location: "Fort de France", url: "https://la1ere.francetvinfo.fr/image/edhAdzO5IAVFW9qy-1bGJebcSv8/600x400/outremer/2019/10/08/5d9bc72b82d7c_college_1-1184909.jpg" }) %>

</body>
</html>