<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/scss/cards/schoolCard.css">
  <link rel="stylesheet" href="/scss/cards/cardComment.css">
  <title>Document</title>
</head>
<body>

<%- include(`../../public/components/cardEcole`, { name: fake.name, location: fake.city, url: fake.image }) %>

<%- include(`../../public/components/cardComment`,{name :"Oriannna Sipher", grade:"Terminal L", school:"Lycée Bellevue", comment : "Je suis un commentaire complétement inutile que j'écris en écoutant \"King Snipe\” by Gucci Mane & Kodak Black"}) %>

</body>
</html>