<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/searchBar/searchBar.css" />
    <title>Page de test</title>
  </head>
  <body>
    <h1>Test du rendu du composant SearchBar</h1>

    <%- include(
      '../../public/components/searchBar.ejs', 
      {
        searchFields: [
        {
          label: "Mots-clés", 
          icon: `<svg
            class="search-bar-label-icon"
            width="23"
            height="20"
            viewBox="0 0 23 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11 19.452C10.8195 19.452 10.6432 19.4296 10.4713 19.3849C10.3002 19.3394 10.1333 19.2715 9.97084 19.1812L4.55417 16.2562C4.19306 16.0576 3.9132 15.7914 3.71459 15.4578C3.51598 15.1234 3.41667 14.7485 3.41667 14.3333V9.13327L0.816675 7.69785C0.618064 7.58952 0.473619 7.4541 0.383341 7.2916C0.293064 7.1291 0.247925 6.94855 0.247925 6.74994C0.247925 6.55132 0.293064 6.37077 0.383341 6.20827C0.473619 6.04577 0.618064 5.91035 0.816675 5.80202L9.97084 0.818685C10.1333 0.728407 10.3002 0.660518 10.4713 0.615018C10.6432 0.57024 10.8195 0.547852 11 0.547852C11.1806 0.547852 11.3568 0.57024 11.5287 0.615018C11.6998 0.660518 11.8667 0.728407 12.0292 0.818685L22.3479 6.45202C22.5285 6.5423 22.6686 6.67302 22.7683 6.84418C22.8672 7.01607 22.9167 7.20132 22.9167 7.39994V14.3333C22.9167 14.6402 22.8127 14.8973 22.6047 15.1046C22.3974 15.3126 22.1403 15.4166 21.8333 15.4166C21.5264 15.4166 21.2693 15.3126 21.062 15.1046C20.854 14.8973 20.75 14.6402 20.75 14.3333V7.9416L18.5833 9.13327V14.3333C18.5833 14.7485 18.484 15.1234 18.2854 15.4578C18.0868 15.7914 17.807 16.0576 17.4458 16.2562L12.0292 19.1812C11.8667 19.2715 11.6998 19.3394 11.5287 19.3849C11.3568 19.4296 11.1806 19.452 11 19.452ZM11 10.7583L18.4208 6.74994L11 2.7416L3.57917 6.74994L11 10.7583ZM11 17.2854L16.4167 14.3604V10.2708L12.0563 12.6812C11.8938 12.7715 11.7222 12.839 11.5417 12.8838C11.3611 12.9293 11.1806 12.952 11 12.952C10.8195 12.952 10.6389 12.9293 10.4583 12.8838C10.2778 12.839 10.1063 12.7715 9.94376 12.6812L5.58334 10.2708V14.3604L11 17.2854Z"
              fill="currentColor" 
            />
          </svg>`
        }, 
        {
          label: "Localisation", 
          icon: `<svg
            class="search-bar-label-icon"
            width="18"
            height="22"
            viewBox="0 0 18 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.99992 10.9998C9.59575 10.9998 10.106 10.7875 10.5307 10.3628C10.9546 9.93889 11.1666 9.429 11.1666 8.83317C11.1666 8.23734 10.9546 7.72709 10.5307 7.30242C10.106 6.87848 9.59575 6.6665 8.99992 6.6665C8.40409 6.6665 7.8942 6.87848 7.47025 7.30242C7.04559 7.72709 6.83325 8.23734 6.83325 8.83317C6.83325 9.429 7.04559 9.93889 7.47025 10.3628C7.8942 10.7875 8.40409 10.9998 8.99992 10.9998ZM8.99992 18.9623C11.2027 16.9401 12.8367 15.1028 13.902 13.4503C14.9673 11.7986 15.4999 10.3318 15.4999 9.04984C15.4999 7.08178 14.8723 5.47014 13.6171 4.21492C12.3626 2.96042 10.8235 2.33317 8.99992 2.33317C7.17631 2.33317 5.63689 2.96042 4.38167 4.21492C3.12717 5.47014 2.49992 7.08178 2.49992 9.04984C2.49992 10.3318 3.03256 11.7986 4.09784 13.4503C5.16311 15.1028 6.79714 16.9401 8.99992 18.9623ZM8.99992 21.4269C8.85547 21.4269 8.71103 21.3998 8.56659 21.3457C8.42214 21.2915 8.29575 21.2193 8.18742 21.129C5.55131 18.7998 3.58325 16.6379 2.28325 14.6431C0.983252 12.6476 0.333252 10.7832 0.333252 9.04984C0.333252 6.3415 1.20461 4.18386 2.94734 2.57692C4.68934 0.969976 6.70686 0.166504 8.99992 0.166504C11.293 0.166504 13.3105 0.969976 15.0525 2.57692C16.7952 4.18386 17.6666 6.3415 17.6666 9.04984C17.6666 10.7832 17.0166 12.6476 15.7166 14.6431C14.4166 16.6379 12.4485 18.7998 9.81242 21.129C9.70409 21.2193 9.5777 21.2915 9.43325 21.3457C9.28881 21.3998 9.14436 21.4269 8.99992 21.4269Z"
                fill="currentColor" 
              />
            </svg>`
          }
        ]
      }
    ) 
  %>
  </body>
</html>
