.filter {
  /* rectangle */
  display: flex;
  align-items: center;
  height: 95px;
  width: 1683px;
  border-radius: 10px;
  margin: 23px auto;
  background: #f3f3f3;
}

img {
  height: 33.33333206176758px;
  width: 45.83333206176758px;
  margin: 29.08px;
}

p {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 19px;
}
