<header class="navbar">
  <section class="recherche">
      <img src="images/logos/projet-delta-logo-temporaire.svg" alt="Logo du Projet Delta">
      <input type="text" placeholder="Rechercher une formation, un cours, un témoignage...">
      <a href="#" class="connexion">Connexion</a>
  </section>

  <nav class="menu">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/formations">Formations</a></li>
        <li><a href="/ecoles">Écoles</a></li>
        <li><a href="/domaines">Domaines</a></li>
        <li><a href="/ressources">Ressources</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>
</header>